@import '../../node_modules/slick-carousel/slick/slick.scss';
@import '../../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';
@import '../../node_modules/bootstrap/scss/utilities/_sizing.scss';
@import '../../node_modules/bootstrap/scss/nav';
@import '../../node_modules/bootstrap/scss/navbar';
@import '../../node_modules/bootstrap/scss/_transitions';
@import '../../node_modules/bootstrap/scss/_forms.scss';
@import '../../node_modules/bootstrap/scss/_custom-forms';
@import '../../node_modules/bootstrap/scss/utilities';
@import './fonts';
@import './elements/**/*.scss';
@import './modules/**/*.scss';
@import './navigation/**/*.scss';
@import './layout/**/*.scss';
@import './blocks/**/frontend.scss';

*,
::after,
::before {
  box-sizing: border-box;
  outline: none;
}

body,
html {
  height: 100%;
}

header,
.footer {
  flex: 0 0 auto;
}

body {
  @include base-style;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

a[href^='tel:'],
a[href^='mailto:'] {
  white-space: nowrap;
}

// Comments

a[href^='tel:'] {
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  height: auto;
}
