.archive-banner {
  border-radius: 6px;
  overflow: hidden;
  color: $white;

  &__title {
    font-size: 30px;
    font-weight: 600;
  }

  &__info {
    padding: 44px;
    text-align: center;

    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }

  &__subtitle {
    margin-bottom: 4px;
    font-family: $second-font;
    font-size: 22px;
    line-height: normal;
    font-weight: bold;
    color: $strong-pink;
    font-style: italic;
  }

  &__button-wrap {
    margin-top: 34px;
  }

  &__button {
    justify-content: center;
    min-width: 190px;
    min-height: 60px;
    font-size: 16px;
    color: $white;

    &:hover {
      color: $white;
    }
  }
}
