.form-control {
  padding: 14px 12px;
  background-color: #ffffff;
  border: solid 1px #c3c8d9;
  border-radius: 2px;

  &::placeholder {
    font-family: $default-font;
    font-size: 14px;
    color: #888888;
  }
}
