body {
  & button.disabled,
  & button:disabled,
  & input[type="button"].disabled,
  & input[type="button"]:disabled,
  & input[type="reset"].disabled,
  & input[type="reset"]:disabled,
  & input[type="submit"].disabled,
  & input[type="submit"]:disabled,
  & .button.disabled,
  & .button:disabled,
  & .wc-block-grid__products .wc-block-grid__product .wp-block-button__link.disabled,
  & .wc-block-grid__products .wc-block-grid__product .wp-block-button__link:disabled,
  & .added_to_cart.disabled,
  & .added_to_cart:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.form-control {
  height: 42px;
  padding: 0 12px;
  background-color: $white;
  border: solid 1px $cloudy-blue;
  border-radius: 2px;

  @include media-breakpoint-up(lg) {
    font-size: 13px;
  }

  &::placeholder {
    font-family: $default-font;

    @include media-breakpoint-up(lg) {
      font-size: 13px;
    }
    font-size: 16px;
    color: $warm-grey;
  }

  &--circle {
    border-radius: 100px;
  }
}

.form-row-wide {
  label {
    font-weight: bold;
    color: $dark;

    abbr {
      text-decoration: none;
    }
  }
}

label {
  &.checkbox {
    @include checkbox-label();

    .input-checkbox {
      display: none;

      & + span::before {
        @include checkbox-init();
      }
    }

    &:hover .input-checkbox + span::before {
      @include checkbox-hover();
    }

    .input-checkbox:checked + span::before {
      @include checkbox-checked();
    }
  }
}

textarea.form-control {
  padding-top: 8px;
  padding-bottom: 8px;
}

.required {
  border-bottom: 0;
  color: $lipstick;
}

.woof_checkbox_term {
  display: none;
}

.woof_checkbox_label {
  @include checkbox-label;
  margin-left: 0;

  .woof_checkbox_term + &::before {
    @include checkbox-init;
  }

  .woof_checkbox_term:checked + &::before {
    @include checkbox-checked;
  }

  &:hover::before {
    @include checkbox-hover;
  }
}

legend {
  @extend h3;
}
