.woocommerce-message {
  margin-bottom: 2.617924em;
  margin-left: 0;
  padding: 1em 1.618em;
  background-color: $strong-pink;
  border-left: 0.6180469716em solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  clear: both;
  color: $white;

  a {
    color: $white;
    text-decoration: underline;

    &:hover {
      color: $white;
      text-decoration: none;
    }
  }

  .button {
    float: right;
    margin-left: 1em;
    padding: 0;
    padding-left: 1em;
    background: 0 0;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: $white-30;
    border-radius: 0;
    box-shadow: none;
    line-height: 1.618;
    font-weight: 600;
    color: $white;

    &:hover {
      color: $white;
    }
  }
}

.woocommerce {
  &-info:not(.cart-empty) {
    @extend .woocommerce-message;
  }

  &-error {
    @extend .woocommerce-message;
  }

  &-noreviews {
    @extend .woocommerce-message;
  }
}

p.no-comments {
  @extend .woocommerce-message;
}
