.wp-block-lustshop-woo-category {
  $self: &;

  &,
  &--exclusive {
    position: relative;
    flex: 1 0 auto;
    width: 100%;
    height: 382px;
    margin-left: 0;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
    background-color: $white-two;
    flex-flow: column;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &__wrap-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 292px;
  }

  &__img {
    max-width: 100%;
    height: auto;
  }

  &__title {
    align-self: center;
    font-size: 18px;
    font-weight: 600;
    color: $dark;
    text-align: center;
  }

  &--exclusive {
    #{ $self }__wrap-img {
      justify-content: flex-end;
      margin-right: 0;
      margin-left: 39px;
    }

    #{ $self }__title {
      align-self: flex-start;
      max-width: 11em;
      margin: 32px 0 0 39px;
      color: $white;
      text-align: left;

      &::first-line {
        font-family: $second-font;
        font-size: 26px;
        font-style: italic;
      }
    }

    #{ $self }__link {
      flex-direction: column-reverse;
      padding-right: 0;
      padding-left: 0;
      background-image: linear-gradient(to left, $darkish-purple, $strong-pink);

      &::before {
        position: absolute;
        top: 25px;
        right: 25px;
        bottom: 25px;
        left: 25px;
        border: 1px solid $white-30;
        content: "";
      }
    }

    #{ $self }__img {
      margin: auto 0 43px auto;
    }
  }
}
