.slider-products {
  padding-top: 60px;
  padding-bottom: 60px;

  @include media-breakpoint-up(lg) {
    padding-top: 99px;
    padding-bottom: 100px;
  }

  .container > h2 {
    text-align: center;
  }

  .slick-track {
    display: flex;
    align-items: stretch;
    min-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .slick-slide {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0 15px;

    img {
      display: inline-block;
    }

    > div {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }

  .slick-list {
    margin: 0 -15px;
  }

  .slick-next,
  .slick-prev {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    padding: 0;
    background: #ffffff;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgba(24, 27, 31, 0.15);
    color: $strong-pink;
  }

  .slick-next {
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(0);

    @media (min-width: 768px) {
      transform: translateY(-50%) translateX(50%);
    }
  }

  .slick-prev {
    top: 50%;
    left: 0;
    transform: translateY(-50%) translateX(0);

    @media (min-width: 768px) {
      transform: translateY(-50%) translateX(-50%);
    }
  }

  &__carousel {
    margin: 0;
    padding: 0;
    visibility: hidden;

    &.slick-initialized {
      visibility: visible;
    }
  }
}
