@import "../../variables";

.wp-block-lustshop-section {
	position: relative;
	background-position: center center;
	width: 100%;
	max-width: 100%;

	&.has-parallax {
		background-attachment: fixed;

		@supports (-webkit-overflow-scrolling: touch) {
			background-attachment: scroll;
		}
	}

	&.cover {
		background-size: cover;
	}

	&.no-repeat {
		background-repeat: no-repeat;
	}

	&.has-background-opacity::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: inherit;
		opacity: 0.5;
		z-index: z-index(".wp-block-lustshop-section.has-background-opacity::before");
	}

	@each $name, $color in $colors {

		&.has-#{$name}-background-color {
			background-color: $color;
		}
	}

	@for $i from 1 through 10 {

		&.has-background-opacity.has-background-opacity-#{ $i * 10 }::before {
			opacity: $i * 0.1;
		}
	}
}
