.DTFC_LeftWrapper {
  display: none;
}

.compare-list {
  thead {
    display: none;
  }
}

table.compare-list .product_info .button {
  display: inline-flex;
}

@media (max-width: 480px) {
  #yith-woocompare table.compare-list tbody th {
    width: 100px;
    max-width: 150px;
  }

  table.compare-list {
    font-size: 12px;
  }
}
