.woocommerce-shipping-methods {
  padding-top: 0.5rem;
  padding-left: 0;
  clear: both;

  @include media-breakpoint-up(md) {
    padding-top: 0;
  }

  .woocommerce-Price-amount {
    font-weight: 600;
  }

  li {
    display: flex;
    align-items: flex-start;
    list-style: none;
    text-align: left;

    input[type="radio"] {
      flex: 0 0 auto;
      margin-top: 3px;
      margin-right: 6px;
    }
  }
}
