.wp-block-lustshop-woo-categories {
  &__products {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    padding: 0;
    list-style: none;
  }

  &__link {
    overflow: hidden;
  }

  & picture,
  & img {
    width: auto;
    max-height: 100%;
  }
}
