@mixin base-style {
    position: relative;
    margin: 0;
    font-family: $default-font;
    font-size: $default-size;
    line-height: normal;
    color: $brownish-grey;
    background: $white-two;
}
