.footer {
  $self: &;
  background-color: $dark;
  padding: 28px 0 0;

  &__column {
    margin-top: 20px;
  }

  &__column-last {
    #{ $self }__info {
      margin-bottom: 32px;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: $white;
    margin-bottom: 20px;
  }

  a {
    font-size: 13px;
    color: $warm-grey;

    &:hover {
      color: $warm-grey;
    }
  }

  ul {
    padding-left: 0;
    list-style: none;

    li {
      margin-bottom: 10px;
    }
  }

  &__phone a {
    font-size: 18px;
    font-weight: 600;
    color: $white;

    &:hover {
      color: $white;
    }
  }

  &__email {
    margin-top: 6px;

    a {
      font-size: 13px;
      color: $warm-grey;
    }
  }

  &__bottom {
    justify-content: center;
    padding-bottom: 11px;
    border-top: 1px solid rgba($white, 0.08);
  }

  &__share {
    > a,
    > img,
    > picture {
      display: inline-block;
      margin: 0 8px 10px 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__main {
    padding: 0 0 36px;
  }

  &__payment {
    justify-content: center;

    img {
      margin: 11px 0 0 11px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
