.wp-block-lustshop-button {
    display: inline-flex;
    align-items: center;
    width: auto;
    border: 0;
    line-height: 1;
    font-weight: 400;
    min-height: 42px;
    border-radius: 100px;
    border: 1px solid $white-two;
    background-color: $white-two;
    font-family: $default-font;
    font-size: 14px;
    font-weight: 600;
    color: $strong-pink;
    padding-left: 22px;
    padding-right: 22px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;

    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    &.disabled,
    fieldset:disabled & {
        pointer-events: none;
    }

    @media screen and (prefers-reduced-motion: reduce) {
        & {
            transition: none;
        }
    }

    &:hover {
        text-decoration: none;
    }

    &--primary {
        background-color: $strong-pink;
        border-color: $strong-pink;
        color: $white;
    }

    &--secondary {
        border-color: $strong-pink;
        background-color: transparent;
    }

    svg {
        margin-left: 9px;
    }
}
