.product {
  $self: &;

  &__item {
    list-style: none;

    @media (hover: hover) {
      height: 438px;
    }

    @media (hover: none) {
      height: 568px;
    }
  }

  &__block {
    position: relative;
    /* stylelint-disable-next-line declaration-no-important */
    display: flex !important;
    flex-direction: column;
    height: 100%;
    background-color: $white;
    border-radius: $border-radius-1;

    .product__list & {
      @media (hover: hover) {
        &:hover {
          position: relative;
          z-index: 1;
          height: calc(100% + 70px);
          border-radius: 3px;
          box-shadow: 0 0 15px 0 rgba(24, 27, 31, 0.15);

          #{ $self }__buttons {
            display: flex;
          }
        }
      }

      @media (hover: none) {
        position: relative;
        z-index: 1;
        height: 100%;
        border-radius: 3px;
        box-shadow: 0 0 15px 0 rgba(24, 27, 31, 0.15);

        #{ $self }__buttons {
          display: flex;
        }
      }
    }
  }

  &__link {
    text-align: center;
  }

  &__title {
    display: -webkit-box;
    overflow: hidden;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    a {
      color: #1d1f26;

      &:hover {
        color: $strong-pink;
        text-decoration: none;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 24px;
  }

  &__reviews {
    font-size: 13px;
    color: $brownish-grey;
    text-decoration: underline;

    &:hover {
      color: $strong-pink;
      text-decoration: none;
    }
  }

  &__price {
    display: inline-block;
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
    color: $dark;
    white-space: nowrap;
  }

  &__button {
    min-height: 60px;
    margin-top: 50px;
    padding: 0 44px;
    font-size: 16px;
    line-height: 60px;
  }

  &__star-rating {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: auto;
    margin-bottom: 15px;
    line-height: 1;
  }

  &__stars {
    margin-right: 18px;
  }

  &__list {
    margin-bottom: 0;
    padding-left: 0;

    &--columns-3 {
      #{ $self }__item {
        @extend .col-lg-12;
        margin-bottom: $grid-gutter-width;

        @include media-breakpoint-up(md) {
          flex: 0 0 percentage(1/2);
          max-width: percentage(1/2);
        }

        @include media-breakpoint-up(lg) {
          flex: 0 0 percentage(1/3);
          max-width: percentage(1/3);
        }
      }
    }
  }

  .add_to_cart_button {
    white-space: nowrap;
  }

  &__buttons {
    display: none;
    margin-top: 20px;

    > *:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__wishlist {
    justify-content: center;
    width: 50px;
    padding: 0;
    background-color: #e4e5eb;
    border-radius: 50%;
    color: #9ca0ad;

    .exists & {
      background-color: $strong-pink;
      color: #ffffff;

      &:hover {
        color: #ffffff;
      }
    }

    &:hover {
      color: $strong-pink;
    }

    svg {
      margin-left: 0;
    }
  }

  .compare {
    @extend .wp-block-lustshop-button;

    justify-content: center;
    width: 50px;
    padding: 0;
    background: #e4e5eb
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='18'%3E%3Cpath fill='%239CA0AD' fill-rule='evenodd' d='M22.445 12.238a.992.992 0 0 1-1.391-.212l-.856-1.169c-.77 3.647-3.756 6.583-7.637 7.071a8.862 8.862 0 0 1-7.443-2.566 1.003 1.003 0 0 1 0-1.414.991.991 0 0 1 1.406 0 6.897 6.897 0 0 0 5.79 1.996c3.054-.384 5.37-2.723 5.936-5.606l-1.265 1.144a.995.995 0 0 1-1.405-.075 1.004 1.004 0 0 1 .074-1.413l3.025-2.734c.024-.021.057-.028.082-.047a.955.955 0 0 1 .194-.111.977.977 0 0 1 .168-.057c.034-.008.063-.029.098-.033.042-.005.079.009.12.009.035-.001.069-.015.104-.012.029.003.052.021.08.026.074.014.14.037.207.067a.837.837 0 0 1 .158.08.94.94 0 0 1 .163.146c.029.031.068.049.093.083l2.511 3.429c.325.444.231 1.07-.212 1.398zm-6.076-8.191C15.075 2.743 13.314 2.027 11.45 2a6.909 6.909 0 0 0-5.452 2.644c-.703.89-1.139 1.921-1.351 3.005l1.341-1.15a.989.989 0 0 1 1.402.112c.356.42.307 1.051-.112 1.409l-3.09 2.65c-.026.023-.059.032-.087.051a.909.909 0 0 1-.347.15c-.034.008-.063.028-.098.033a1.122 1.122 0 0 1-.115.006l-.005-.001a.977.977 0 0 1-.108-.006c-.034-.004-.061-.025-.094-.032a.933.933 0 0 1-.528-.311c-.02-.022-.048-.035-.065-.059L.296 7.156a1.004 1.004 0 0 1 .213-1.398.992.992 0 0 1 1.391.214l.831 1.138c.286-1.337.839-2.608 1.71-3.71A8.885 8.885 0 0 1 11.46 0a8.96 8.96 0 0 1 6.317 2.634 1.003 1.003 0 0 1-.002 1.414.99.99 0 0 1-1.406-.001z'/%3E%3C/svg%3E")
      no-repeat center center;
    border-radius: 50%;
    font-size: 0;
    color: #9ca0ad;

    &:hover {
      background: #e4e5eb
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='18'%3E%3Cpath fill='%23ff026d' fill-rule='evenodd' d='M22.445 12.238a.992.992 0 0 1-1.391-.212l-.856-1.169c-.77 3.647-3.756 6.583-7.637 7.071a8.862 8.862 0 0 1-7.443-2.566 1.003 1.003 0 0 1 0-1.414.991.991 0 0 1 1.406 0 6.897 6.897 0 0 0 5.79 1.996c3.054-.384 5.37-2.723 5.936-5.606l-1.265 1.144a.995.995 0 0 1-1.405-.075 1.004 1.004 0 0 1 .074-1.413l3.025-2.734c.024-.021.057-.028.082-.047a.955.955 0 0 1 .194-.111.977.977 0 0 1 .168-.057c.034-.008.063-.029.098-.033.042-.005.079.009.12.009.035-.001.069-.015.104-.012.029.003.052.021.08.026.074.014.14.037.207.067a.837.837 0 0 1 .158.08.94.94 0 0 1 .163.146c.029.031.068.049.093.083l2.511 3.429c.325.444.231 1.07-.212 1.398zm-6.076-8.191C15.075 2.743 13.314 2.027 11.45 2a6.909 6.909 0 0 0-5.452 2.644c-.703.89-1.139 1.921-1.351 3.005l1.341-1.15a.989.989 0 0 1 1.402.112c.356.42.307 1.051-.112 1.409l-3.09 2.65c-.026.023-.059.032-.087.051a.909.909 0 0 1-.347.15c-.034.008-.063.028-.098.033a1.122 1.122 0 0 1-.115.006l-.005-.001a.977.977 0 0 1-.108-.006c-.034-.004-.061-.025-.094-.032a.933.933 0 0 1-.528-.311c-.02-.022-.048-.035-.065-.059L.296 7.156a1.004 1.004 0 0 1 .213-1.398.992.992 0 0 1 1.391.214l.831 1.138c.286-1.337.839-2.608 1.71-3.71A8.885 8.885 0 0 1 11.46 0a8.96 8.96 0 0 1 6.317 2.634 1.003 1.003 0 0 1-.002 1.414.99.99 0 0 1-1.406-.001z'/%3E%3C/svg%3E")
        no-repeat center center;
    }

    &.added {
      background: $strong-pink
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='18'%3E%3Cpath fill='%23ffffff' fill-rule='evenodd' d='M22.445 12.238a.992.992 0 0 1-1.391-.212l-.856-1.169c-.77 3.647-3.756 6.583-7.637 7.071a8.862 8.862 0 0 1-7.443-2.566 1.003 1.003 0 0 1 0-1.414.991.991 0 0 1 1.406 0 6.897 6.897 0 0 0 5.79 1.996c3.054-.384 5.37-2.723 5.936-5.606l-1.265 1.144a.995.995 0 0 1-1.405-.075 1.004 1.004 0 0 1 .074-1.413l3.025-2.734c.024-.021.057-.028.082-.047a.955.955 0 0 1 .194-.111.977.977 0 0 1 .168-.057c.034-.008.063-.029.098-.033.042-.005.079.009.12.009.035-.001.069-.015.104-.012.029.003.052.021.08.026.074.014.14.037.207.067a.837.837 0 0 1 .158.08.94.94 0 0 1 .163.146c.029.031.068.049.093.083l2.511 3.429c.325.444.231 1.07-.212 1.398zm-6.076-8.191C15.075 2.743 13.314 2.027 11.45 2a6.909 6.909 0 0 0-5.452 2.644c-.703.89-1.139 1.921-1.351 3.005l1.341-1.15a.989.989 0 0 1 1.402.112c.356.42.307 1.051-.112 1.409l-3.09 2.65c-.026.023-.059.032-.087.051a.909.909 0 0 1-.347.15c-.034.008-.063.028-.098.033a1.122 1.122 0 0 1-.115.006l-.005-.001a.977.977 0 0 1-.108-.006c-.034-.004-.061-.025-.094-.032a.933.933 0 0 1-.528-.311c-.02-.022-.048-.035-.065-.059L.296 7.156a1.004 1.004 0 0 1 .213-1.398.992.992 0 0 1 1.391.214l.831 1.138c.286-1.337.839-2.608 1.71-3.71A8.885 8.885 0 0 1 11.46 0a8.96 8.96 0 0 1 6.317 2.634 1.003 1.003 0 0 1-.002 1.414.99.99 0 0 1-1.406-.001z'/%3E%3C/svg%3E")
        no-repeat center center;
      color: #ffffff;

      &:hover {
        color: #ffffff;
      }
    }
  }
}
