.alignleft {
    margin-right: 1.5em;
    display: block;
    float: left;
}

.alignright {
    margin-left: 1.5em;
    display: block;
    float: right;
}

.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
}
